/**
* GENERAL STYLES & FONTS
**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}
html, body {
    scroll-behavior: smooth;
}
.site-nav-mobile--open {
    max-width: 100vw;
    overflow: hidden;
}
body {
    overflow-x: hidden;
}
body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: none;
}
.site-nav-mobile--open:before {
    opacity: 1;
    visibility: visible;
}
h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}
h2, .heading--large {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    line-height: 1.25;
    color: rgb(36, 62, 99);
}
.heading--small {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    color: #6415ff;
}
h4 {
    font-size: 24px;
    margin-bottom: 16px;
}
p {
    font-size: 18px;
    line-height: 1.5;
}
.section__heading .heading--large {
    margin: 16px 0;
}
.section__heading p {
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
}
.section__heading .btn, .section__heading button {
    display: inline-block;
    margin-top: 32px;
}
.text--purple {
    color: #6415ff;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
/* a[href="javascript:;"] {
    cursor: not-allowed;
} */
a:hover {
    color: #6415ff;
}
.btn, button {
    padding: 10px 32px 12px;
    border-radius: 500px;
    border: none;
    background: #6415ff;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover, button:hover {
    background: #3c0d99;
    color: #fff;
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
}
.section__blob {
    position: absolute;
}
@media(max-width: 991px) {
    body:before {
        display: block;
    }
}
@media(max-width: 767px) {
    h1 {
        font-size: 36px;
    }
    h2, .heading--large {
        font-size: 30px;
    }
    .heading--small {
        font-size: 14px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}

/**
* LAYOUT & UTILITIES
**/
section {
    position: relative;
    padding: 96px 0;
}
.container {
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 32px;
}
.row {
    display: flex;
}
.d-flex {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.text--center {
    text-align: center;
}
@media(max-width: 767px) {
    section {
        padding: 70px 0;
    }
    .container {
        padding: 0 20px;
    }
}

/**
* SITE NAVIGATION
**/
#site-header {
    padding-top: 32px;
}
#site-nav {
    justify-content: space-between;
    align-items: center;
}
#site-nav .logo a {
    display: inline-flex;
    align-items: center;
}
#site-nav .logo img {
    width: 40px;
    height: auto;
}
#site-nav .logo span {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-left: 12px;
}
.site-nav__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.site-nav__links li {
    margin-left: 48px;
}
.site-nav__links .login {
    margin-left: 24px;
}
.site-nav__links li a {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
}
.site-nav__links li a:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6415ff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.site-nav__links li a:hover:after {
    opacity: 1;
}
.site-nav__links li a.site-nav__links--btn {
    padding: 10px 32px 12px;
    border-radius: 500px;
    background: #6415ff;
    color: #fff;
    margin-left: -24px;
}
.site-nav__links li a.site-nav__links--btn:after {
    display: none;
}
.site-nav__links li a.site-nav__links--btn:hover {
    background: #3c0d99;
}
.site-nav__mobile-btn {
    display: none;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
}
.site-nav__mobile-btn:hover {
    background: none;
}
.site-nav__mobile-btn svg {
    transition: stroke 0.3s ease-in-out;
}
.site-nav__mobile-btn:hover svg {
    stroke: #6415ff;
}
@media(max-width: 991px) {
    .site-nav__links {
        display: none;
    }
    .site-nav__mobile-btn {
        display: block;
    }
}

/**
* SITE NAVIGATION - MOBILE
**/
#site-nav-modal {
    position: fixed;
    top: 24px;
    left: 16px;
    z-index: 5;
    width: calc(100vw - 32px);
    padding: 32px 32px 40px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    transform: translateX(100vw);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    /* display: none; */
}
.site-nav-mobile__close-btn {
    position: absolute;
    top: 24px;
    right: 18px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
}
.site-nav-mobile__close-btn:hover {
    background: none;
}
.site-nav-mobile__close-btn svg {
    transition: stroke 0.3s ease-in-out;
}
.site-nav-mobile__close-btn:hover svg {
    stroke: #6415ff;
}
#site-nav-mobile {
    display: flex;
    justify-content: center;
    text-align: center;
}
#site-nav-mobile li {
    list-style: none;
}
#site-nav-mobile li + li {
    margin-top: 16px;
}
#site-nav-mobile li a {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: #1a202c;
}
#site-nav-mobile li a:hover {
    color: #6415ff;
}
#site-nav-mobile .site-nav-mobile__btn {
    display: inline-block;
    padding: 10px 32px 12px;
    border-radius: 500px;
    background: #6415ff;
    color: #fff;
    margin-top: 8px;
}
#site-nav-mobile .site-nav-mobile__btn:hover {
    color: #fff;
    background: #3c0d99;
}
.site-nav-mobile--open #site-nav-modal {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/**
* HERO
**/
#hero .row {
    align-items: center;
    justify-content: space-between;
}
#hero .header__content {
    width: 42%;
    padding-right: 20px;
}
#hero .header__content > p {
    margin: 32px 0;
}
#hero .header__image {
    width: 58%;
}
#hero .header__input {
    position: relative;
    width: 100%;
    max-width: 448px;
}
#hero .header__input input {
    width: 100%;
    height: 68px;
    border: 2px solid #e5e7eb;
    border-radius: 500px;
    padding-left: 32px;
    padding-right: 192px;
    font-size: 16px;
    font-weight: 500;
    color: #243e63;
    transition: border-color 0.3s ease-in-out;
    outline: none;
}
#hero .header__input input::placeholder {
    color: rgba(36, 62, 99, 0.5);
}
#hero .header__input input:hover {
    border-color: #A0AEC0;
}
#hero .header__input input:focus {
    border-color: #6415ff;
}
#hero .header__input button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 160px;
    height: calc(100% - 16px);
    border: none;
    border-radius: 500px;
    background: #6415ff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
#hero .header__input button:hover {
    background: #3c0d99;
}
#hero .header__customers {
    margin-top: 80px;
}
#hero .header__customers .heading--small {
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #a0aec0;
}
#hero .header__customers--logos {
    align-items: center;
    gap: 10px 25px;
    margin-top: 16px;
}
#hero .header__customers--logos img {
    max-height: 34px;
    opacity: 0.5;
}
#hero .section__blob {
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 256px;
    height: 256px;
    transform: translateX(-50%);
    opacity: 0.05;
}
@media(max-width: 1199px) {
    #hero .header__content {
        width: 45%;
    }
    #hero .header__image {
        width: 50%;
    }
}
@media(max-width: 991px) {
    #hero .row {
        flex-direction: column;
    }
    #hero .header__content {
        width: 100%;
        max-width: 512px;
        padding-right: 0;
        text-align: center;
    }
    #hero .header__input {
        margin: 0 auto;
    }
    #hero .header__customers {
        margin-top: 48px;
    }
    #hero .header__customers--logos {
        justify-content: center;
    }
    #hero .header__image {
        width: 100%;
        max-width: 512px;
        margin-top: 48px;
    }
}
@media(max-width: 767px) {
    #hero .header__input input, #hero .header__input button {
        font-size: 15px;
    }
    #hero .header__input input {
        height: 58px;
        padding-left: 20px;
        padding-right: 164px;
    }
    #hero .header__input button {
        width: auto;
        padding: 0 32px;
    }
}
@media(max-width: 399px) {
    #hero .header__input input {
        padding-right: 20px;
    }
    #hero .header__input button {
        position: static;
        width: 100%;
        height: 58px;
        margin-top: 10px;
        padding: 0 20px;
    }
}

/**
* FEATURES
**/
#features .container {
    max-width: 1088px;
}
#features .section__heading p {
    max-width: 576px;
    margin: 0 auto;
}
#features .features__grid {
    margin-top: 40px;
}
#features .feature {
    width: calc(100% / 3);
    padding: 32px 24px;
}
#features .feature .feature__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
    border: 1px solid #e5e7eb;
    border-radius: 100%;
    margin-right: 16px;
}
#features .feature .feature__content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    color: #7c8ba1;
}
#features .section__blob {
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 256px;
    height: auto;
    transform: translateX(35%);
    opacity: 0.25;
}
@media(max-width: 991px) {
    #features .features__grid {
        max-width: 768px;
        margin: 40px auto 0;
    }
    #features .feature {
        width: 50%;
    }
}
@media(max-width: 767px) {
    #features .feature {
        flex-direction: column;
    }
    #features .feature .feature__icon {
        margin-bottom: 16px;
    }
    #features .feature .feature__content p {
        font-size: 15px;
        line-height: 1.75;
    }
}
@media(max-width: 575px) {
    #features .features__grid {
        flex-direction: column;
        align-items: center;
    }
    #features .feature {
        align-items: center;
        width: 100%;
        max-width: 300px;
        padding: 16px 0;
        text-align: center;
    }
    #features .feature .feature__icon {
        margin-right: 0;
    }
}

/**
* WORK
**/
#work .row {
    align-items: center;
    gap: 120px;
}
#work .work__content, #work .work__image {
    width: 50%;
}
#work .work__image {
    position: relative;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    background: #fff;
    /* overflow: hidden; */
    margin-right: 40px;
}
#work .work__image .dot-grid {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(50%, 50%);
    width: 80px;
    height: 80px;
}
@media(max-width: 1199px) {
    #work .row {
        gap: 70px;
    }
}
@media(max-width: 991px) {
    #work .row {
        flex-direction: column;
    }
    #work .work__content, #work .work__image {
        width: 100%;
        max-width: 512px;
    }
    #work .work__content {
        text-align: center;
    }
    #work .work__image {
        margin-right: 0;
        max-width: min(calc(100% - 40px), 512px);
    }
}
@media(max-width: 767px) {
    #work .work__image {
        margin-right: 0;
    }
    #work .work__image .dot-grid {
        transform: translate(30%, 30%);
    }
}

/**
* STEPS
**/
#steps .row {
    align-items: center;
}
#steps .steps__content, #steps .steps__image {
    width: 50%;
}
#steps .steps__content {
    padding-left: 64px;
}
#steps .steps__list li {
    list-style: none;
    margin-top: 32px;
}
#steps .steps__list .steps__list--number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: #cbd5e0;
    margin-right: 24px;
}
#steps .steps__list .steps__list--content {
    max-width: 316px;
}
#steps .steps__list .steps__list--content h4 {
    font-size: 20px;
    margin-bottom: 12px;
}
#steps .steps__list .steps__list--content p {
    font-size: 14px;
    line-height: 2;
}
@media(max-width: 991px) {
    #steps .row {
        flex-direction: column;
    }
    #steps .steps__content, #steps .steps__image {
        width: 100%;
        max-width: 512px;
    }
    #steps .steps__content {
        padding-left: 0;
        text-align: center;
    }
    #steps .steps__image {
        margin-top: 70px;
    }
    #steps .steps__list li {
        flex-direction: column;
        align-items: center;
    }
    #steps .steps__list .steps__list--number {
        margin-right: 0;
        margin-bottom: 12px;
    }
}

/**
* VALUES
**/
#values .row {
    align-items: center;
}
#values .values__content, #values .values__image {
    width: 50%;
}
#values .values__content {
    padding-right: 64px;
}
#values .values__grid {
    justify-content: space-between;
    margin-top: 32px;
}
#values .value {
    width: calc(50% - 16px);
}
#values .value .value__name {
    align-items: center;
    margin-bottom: 16px;
}
#values .value .value__name .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
#values .value .value__name .icon.icon--green {
    background: #9ae6b4;
}
#values .value .value__name .icon.icon--red {
    background: #feb2b2;
}
#values .value .value__name .icon img {
    width: 20px;
    height: auto;
}
#values .value .value__name h4 {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 12px;
}
#values .value__description {
    font-size: 16px;
}
@media(max-width: 1199px) {
    #values .values__grid {
        flex-direction: column;
    }
    #values .value {
        width: 100%;
        max-width: 320px;
    }
    #values .value + .value {
        margin-top: 32px;
    }
}
@media(max-width: 991px) {
    #values .row {
        flex-direction: column;
    }
    #values .values__content, #values .values__image {
        width: 100%;
        max-width: 512px;
    }
    #values .values__content {
        padding-right: 0;
        text-align: center;
    }
    #values .values__image {
        margin-top: 70px;
    }
    #values .values__grid {
        align-items: center;
    }
    #values .value .value__name {
        justify-content: center;
    }
}
@media(max-width: 767px) {
    #values .value__description {
        font-size: 15px;
    }
}

/**
* PRICING
**/
#pricing .section__heading {
    width: 100%;
}
#pricing .section__heading p {
    max-width: 576px;
    margin: 0 auto;
}
#pricing .pricing__tables {
    position: relative;
    gap: 32px;
    justify-content: space-between;
    margin-top: 64px;
}
#pricing .pricing-table {
    position: relative;
    width: 100%;
    max-width: 384px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}
#pricing .pricing-table:before {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
}
#pricing .pricing-table__heading {
    padding: 32px;
}
#pricing .pricing-table__heading h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #1a202c;
    margin-bottom: 4px;
}
#pricing .pricing-table__heading .price .number {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.625;
    color: #1a202c;
}
#pricing .pricing-table__heading .price .term {
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.625;
    color: #a0aec0;
    margin-top: 2px;
}
#pricing .pricing-table__features {
    padding: 32px;
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}
#pricing .pricing-table__features li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #718096;
    margin-top: 20px;
}
#pricing .pricing-table__button {
    padding: 32px;
}
#pricing .pricing-table__button button {
    width: 100%;
    max-width: 192px;
    padding: 16px 32px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.5;
}
#pricing .pricing-table__button button:hover {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transform: translate(1px, -1px);
}
#pricing .pricing-table--green:before {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
#pricing .pricing-table--green .pricing-table__button button {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
#pricing .pricing-table--red:before {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
#pricing .pricing-table--red .pricing-table__button button {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
#pricing .pricing-table--purple {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}
#pricing .pricing-table--purple *:not(button) {
    color: #fff !important;
}
#pricing .pricing-table--purple .pricing-table__features {
    border-top-color: rgb(102, 126, 234);
    border-bottom-color: rgb(102, 126, 234);
}
#pricing .pricing-table--purple .pricing-table__button button {
    background: #f7fafc;
    color: #6415ff;
}
#pricing .pricing__tables > img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 256px;
    height: 256px;
    transform: translate(-50%, 50%);
    opacity: 0.25;
}
@media(min-width: 992px) and (max-width: 1199px) {
    #pricing .pricing-table__features h4 {
        font-size: 20px;
    }
}
@media(max-width: 991px) {
    #pricing .section__heading {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }
    #pricing .pricing__tables {
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 767px) {
    #pricing .pricing-table__heading .price .number {
        font-size: 36px;
    }
    #pricing .pricing-table__button button {
        font-size: 14px;
    }
}

/**
* TESTIMONIALS
**/
#testimonials .row {
    align-items: center;
}
#testimonials .testimonials__content, #testimonials .testimonials__image {
    width: 50%;
}
#testimonials .testimonials__content {
    padding-left: 64px;
}
#testimonials .testimonials__wrapper {
    position: relative;
    margin-top: 40px;
}
#testimonials .testimonial__rating {
    gap: 5px;
    margin-bottom: 20px;
}
#testimonials .testimonial__rating img {
    height: 16px;
}
#testimonials .testimonial__text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}
#testimonials .testimonial__author {
    align-items: center;
    margin-top: 40px;
}
#testimonials .testimonial__author img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 24px;
}
#testimonials .testimonial__author--info {
    flex-direction: column;
    justify-content: center;
}
#testimonials .testimonial__author--info h4, #testimonials .testimonial__author--info p {
    margin-bottom: 0;
}
#testimonials .testimonial__author--info h4 {
    font-size: 20px;
    line-height: 1.5;
}
#testimonials .testimonial__author--info p {
    font-weight: 500;
    color: #7c8ba1;
}
#testimonials .testimonials__navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    gap: 25px;
    height: 80px;
}
#testimonials .testimonials__navigation:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 24px;
    background: #e5e7eb;
    transform: translateY(-50%);
}
#testimonials .testimonials__navigation .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #edf2f7;
    border-radius: 100%;
    padding: 0;
    cursor: pointer;
}
#testimonials .testimonials__navigation .arrow:hover {
    background: #e2e8f0;
}
#testimonials .testimonials__navigation .arrow svg {
    width: 16px;
    height: auto;
}
#testimonials .testimonials__navigation .arrow.next svg {
    transform: rotate(180deg);
}
@media(max-width: 1199px) {
    #testimonials .testimonials__content {
        width: 58%;
    }
    #testimonials .testimonials__image {
        width: 42%;
    }
}
@media(max-width: 991px) {
    #testimonials .row {
        flex-direction: column;
    }
    #testimonials .testimonials__content, #testimonials .testimonials__image {
        width: 100%;
        max-width: 512px;
    }
    #testimonials .testimonials__content {
        padding-left: 0;
        text-align: center;
    }
    #testimonials .testimonials__image {
        margin-top: 50px;
    }
    #testimonials .testimonial__rating {
        justify-content: center;
    }
}
@media(max-width: 767px) {
    #testimonials .testimonial__author {
        justify-content: center;
    }
    #testimonials .testimonials__navigation {
        position: relative;
        justify-content: center;
        height: auto;
        margin-top: 32px;
    }
}
@media(max-width: 575px) {
    #testimonials .testimonial__author {
        flex-direction: column;
        align-items: center;
    }
    #testimonials .testimonial__author img {
        width: 64px;
        height: 64px;
        margin-right: 0;
        margin-bottom: 8px;
    }
}

/**
* CTA BANNER
**/
#cta-banner .row {
    position: relative;
    border-radius: 8px;
    background: #6415ff;
    padding: 96px 32px;
    overflow: hidden;
}
#cta-banner .cta-banner__content {
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
#cta-banner .cta-banner__content h2, #cta-banner .cta__buttons {
    width: 50%;
}
#cta-banner .cta-banner__content h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #f7fafc;
}
#cta-banner .cta__buttons {
    align-items: center;
    justify-content: flex-end;
}
#cta-banner .cta__buttons button {
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 1.5;
    color: #f7fafc;
    margin-left: 32px;
}
#cta-banner .cta__buttons button.solid {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#cta-banner .cta__buttons button.solid:hover {
    background: #e53e3e;
}
#cta-banner .cta__buttons button.outline {
    border: 1px solid #a0aec0;
}
#cta-banner .cta__buttons button.outline:hover {
    background: #f7fafc;
    color: #6415ff;
}
#cta-banner .row > img {
    position: absolute;
    z-index: 0;
    width: 320px;
    height: 320px;
    opacity: 0.5;
}
#cta-banner .row > img:first-of-type {
    bottom: 0;
    left: 0;
    transform: translate(-80px, 128px);
}
#cta-banner .row > img:last-of-type {
    top: 0;
    right: 0;
    transform: translate(80px, -256px);
}
@media(max-width: 991px) {
    #cta-banner .cta-banner__content {
        flex-direction: column;
    }
    #cta-banner .cta-banner__content h2, #cta-banner .cta__buttons {
        width: 100%;
        max-width: 512px;
    }
    #cta-banner .cta-banner__content h2 {
        text-align: center;
        margin-bottom: 24px;
    }
    #cta-banner .cta__buttons {
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px 32px;
    }
    #cta-banner .cta__buttons button {
        margin-left: 0;
    }
}
@media(max-width: 767px) {
    #cta-banner .cta-banner__content h2 {
        font-size: 24px;
    }
    #cta-banner .cta__buttons button {
        padding: 16px 32px;
    }
}
@media(max-width: 575px) {
    #cta-banner .cta__buttons {
        gap: 16px;
    }
    #cta-banner .cta__buttons button {
        font-size: 14px;
        padding: 12px 24px;
    }
}

/**
* FOOTER
**/
footer {
    position: relative;
    background: #6415ff;
    padding: 96px 0;
    margin-top: 96px;
    overflow: hidden;
}
footer .container {
    position: relative;
}
footer .footer__navigation {
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer__navigation--menu h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    color: #f7fafc;
    margin-bottom: 24px;
}
footer .footer__navigation--menu ul {
    display: flex;
    flex-direction: column;
}
footer .footer__navigation--menu li {
    list-style: none;
}
footer .footer__navigation--menu li + li {
    margin-top: 12px;
}
footer .footer__navigation--menu li a {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #f7fafc;
}
footer .footer__navigation--menu li a:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
footer .footer__navigation--menu li a:hover:after {
    opacity: 1;
}
footer hr {
    width: 100%;
    height: 2px;
    background: #732bff;
    border: none;
    margin: 64px 0;
}
footer .footer__meta {
    justify-content: space-between;
    align-items: center;
}
footer .footer__meta--logo a {
    align-items: center;
}
footer .footer__meta--logo img {
    width: 32px;
}
footer .footer__meta--logo span {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #f7fafc;
    margin-left: 8px;
}
footer .footer__meta--legal p {
    font-size: 16px;
    font-weight: 500;
    color: #cbd5e0;
    margin-bottom: 0;
}
footer .footer__meta--social {
    align-items: center;
    justify-content: flex-end;
}
footer .footer__meta--social a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #f7fafc;
}
footer .footer__meta--social a + a {
    margin-left: 16px;
}
footer .footer__meta--social a:hover {
    background: #cbd5e0;
}
footer .footer__meta--social a img {
    height: 16px;
}
footer > img {
    position: absolute;
    z-index: 0;
    width: 320px;
    height: 320px;
    opacity: 0.5;
}
footer > img:first-of-type {
    top: 0;
    left: 0;
    transform: translate(-80px, -128px);
}
footer > img:last-of-type {
    bottom: 0;
    right: 0;
    transform: translate(128px, 192px);
}
@media(max-width: 767px) {
    footer {
        margin-top: 70px;
        padding: 70px 0;
    }
    footer .footer__navigation {
        justify-content: flex-start;
        gap: 48px 0;
    }
    footer .footer__navigation--menu {
        width: calc(100% / 3);
    }
    footer .footer__meta {
        flex-direction: column;
        gap: 32px;
        text-align: center;
    }
}
@media(max-width: 499px) {
    footer .footer__navigation--menu {
        width: 48%;
    }
    footer .footer__navigation--menu:nth-child(even) {
        margin-left: 2%;
    }
}